.pres{
    display:flex ;
    width: 100%;
    height: 70px;
    background-color: #f42d59;
}

.pres h1{
    font-family: 'Ephesis', cursive;
    color: #ffffff;
    margin-left: 10px;
    
}


.cards{
        display: flex; 
        border:2px transparent;
        justify-content: center;
        background-color: gainsboro;
        
    }

.cards img{
    width: 60px;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
}

.cards h2{
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

.cards p{
    font-family: 'Heebo', sans-serif;
    text-align: start;
    margin-left: 7px;
    margin-right: 7px;
}
#tou{
        width: 200px;
        height: 370px;
        background-color: #ffffff;
        margin: 12px;
        list-style-type:none;
       }

#hik{
        width: 200px;
        height: 370px;
        background-color: #ffffff;
        margin: 12px;
        list-style-type:none;
       }

#tra{
        width: 200px;
        height: 370px;
        background-color: #ffffff;
        margin: 12px;
        list-style-type:none;
       }

#sup{
        width: 200px;
        height: 370px;
        background-color: #ffffff;
        margin: 12px;
        list-style-type:none;
       }

.cont{
    display: flex;
    border:2px transparent;
    justify-content: center;
    background-color: gainsboro;
    
}

.cont form{
    width: 400px;
    height: 570px;
    background-color: #ffffff;
    margin: 12px;
    list-style-type:none;
    font-family: 'Heebo', sans-serif;
    text-align: center;

}

#cus{
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}



.sumi{
    display: flex;
    background-color: #f42d59;
justify-content: center;
width: 100%;
height: 40px;
}

.endp{
    display:flex ;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #f42d59;
    align-items: center;
    
}

.ss{
    display:flex ;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #f42d59;
    align-items: center;
}


.endp img{
    width: 40px;
    
    border-radius: 50%;
    padding: 10px;
}

.copy{
    display:flex ;
    justify-content: center;
    width: 100%;
    height: 130px;
    background-color: #f42d59;
    color: #ffffff;
    font-family: 'Heebo', sans-serif;
    align-items: center;

}